
html{
	height:100%;
	/*overflow: auto;*/
}
body{
	height:100%;
/*	overflow-y:auto;
	overflow-x:hidden;*/
	margin:0;
	text-align: center;
	color:gold;
	background-color: black;
}
h2{
	color:gold;
}



#displayArea{
	background-color: black;
}
#displayArea{
	height:auto;
	width:100%;
/*	display:inline-block;*/
}
#wrapper{
	clear:both;
	overflow:auto;
	background-image: url("../images/forest1.jpg");
	background-size:100% 100%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.outerDiv1{
	position:relative;
	height:140px;
	overflow:hidden;
}
#searchedGifs{
	overflow-y: hidden;
	overflow-x: scroll;
	height:auto;
	width:100%;
	position:absolute;
	top: 20px;
}

#tenImages{
	display:flex;
	width:auto;
	height:auto;
	
}

.gifDiv{
	width:auto;
	height:100px;
	margin:10px;
	position:relative;
}
.gif_image{
	min-width:100%;
	height:100px;
	max-height:100%;	
}

#savedTitle{
	margin-top:40px;
	margin-bottom: 0px;
}

.outerDiv2{
	position:relative;
	height:240px;
	overflow:hidden;
}

#placeHolder{
	background-color: darkblue;
	/*position:absolute;*/
	/*width:100%;*/
	/*visibility: hidden;*/
}

#savedGifsContainer{
	overflow-y: hidden;
	overflow-x: auto;
	height:auto;
	width:100%;
	position:absolute;
	top: 20px;

}

#savedGifs1{
	width:auto;
	height:auto;
	justify-content: center;
	display:flex;
}
.savedDiv{
	width:auto;
	height:200px;
	margin:10px;
	position:relative;

}
.saved_image{
	width:auto;
	height:200px;
}

.rate_p{
	position:absolute;
	left:0px;
	width:68px;
	bottom:-15px;
	background-color: pink;
	color:red;
	margin:0px;
	visibility:hidden;

}
.op_button{
	background-color: darkgrey;
	margin:10px;
	cursor:pointer;
	
}


.round_button {
	
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	
	background-color:darkgrey;

	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:darkblue;
	margin-bottom: 40px;
	font-size:17px;
	padding:7px 25px;
	
	text-shadow:0px 1px 0px #e1e2ed;
}
.round_button:hover {
	
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.round_button:active {
	position:relative;
	top:1px;
}
.save_button{
	position: absolute;
	bottom:2px;
	right:2px;
	background-color: black;
	color:pink;
	cursor:pointer;
}
.delete_button{
	position:absolute;
	bottom:0px;
	right:0px;

}

.scroll{
	color:yellow;
	font-size: 40px;
	background-color: black;
	border: 1px yellow solid;
	cursor:pointer;
	
	margin:0px 20px;
	position:relative;
	bottom: -15px;

}
.scroll:hover{
	color: gold;
	border: 2px gold solid;
	font-weight:bold;
}


/*.parent {
  width: 100px;
}*/

